* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}

.form-title {
    font-weight: 600;
    font-size: 36px;
    color: #999b84;
    text-align: center;
    padding-bottom: 2%;
}
