{% load static %}

{% include '../header.html' %}

{% block css %} 
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
{% endblock css %}

{% block jquery %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'story7/js/accordion.js' %}"></script>
{% endblock jquery %}

{% block title %}
<title>Accordion</title>
{% endblock title %}

<body>
    <div id="accordion">
        {% for item in data %}
        <div class="group">
            <h3>{{ item.title }}</h3>
            <div>
                <p>{{ item.topic }}</p>
            </div>
        </div>
        {% endfor %}
    </div> 
</body>

</html>