{% load static %}

{% include '../header.html' %}

{% block bootstrap %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
{% endblock bootstrap %}

{% block css %}
<script src="https://kit.fontawesome.com/1a948eeae4.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="{% static 'story7/css/accordion.css' %}">
{% endblock css %}

{% block jquery %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'story7/js/accordion.js' %}"></script>
{% endblock jquery %}

{% block title %}
<title>Accordion</title>
{% endblock title %}

<body>
    <div class="holder">
        <div class="container">
            <div id="accordion">
                {% for item in data %}
                    <div class="group">
                        <h3>
                            {{ item.title }}
                            <span class="arrow button-up fas fa-arrow-circle-up"></span>
                            <span class="arrow button-down fas fa-arrow-circle-down"></span>
                        </h3>
                        <div>
                            <p>{{ item.topic }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="toggle-container">
            <input type="checkbox" id="switch" name="theme" /><label for="switch">Toggle</label>
        </div>
    </div>

    <script src="{% static 'story7/js/theme.js' %}"></script>
</body>

</html>