.projects-container {
    background-color: #F27272;
    padding: 5rem 0 5rem;
}

#project {
    text-align: center;
    padding-bottom: 4rem;
    color: #fff;
    font-family: 'Bitter', serif;
    font-size: 2.625rem;
    font-weight: 400;
    letter-spacing: 0.075rem;
}

a:hover {
    text-decoration: none;
}