* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.main-container {
    background-color: #ffcad4;
    height: 100vh;
    padding-top: 2.5rem;
    text-align: center;
}

.img-container {
    padding: 1.5rem 0 0;
}

#faisal-img {
    height: 10rem;
    width: 10rem;
}

.main-bio h1 {
    font-family: 'Sacramento', cursive;
    color: #0c056d;
    font-size: 3.75rem;
    padding-top: 2rem;
}

.main-bio h2 {
    font-family: 'Poppins', sans-serif;
    color: #6a040f;
    font-size: 0.75rem;
    letter-spacing: 0.2rem;
}

.socmed-icon {
    display: inline;
    margin: 2rem 1rem 0;
    height: 2.5rem;
    width: 2.5rem;
    transition: 0.75s;
    border-radius: 20%;
}

.socmed-icon:hover {
    border-radius: 20%;
    background-color: #d8e2dc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.aboutme-container {
    background-color: #CCC7E9;
}

#aboutMe {
    text-align: center;
    padding-top: 5rem;
    color: #625772;
    font-family: 'Bitter', serif;
    letter-spacing: 0.05rem;
    font-weight: 600;
    font-size: 2.5rem;
}

#hi {
    font-family: 'Bitter', serif;   
    font-size: 2.5rem;
    color: #c06c84;
}

.brief-desc {
    margin: auto;
    padding: 2rem 0 3rem;
    width: 70%;
}

.brief-desc p {
    font-family: 'Poppins', sans-serif;
    color: #071C52;
    line-height: 5rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

#separator {
    margin: 4rem;
    width: 3rem;
    margin: auto;
    border-bottom: 0.7rem dotted #99e1e5;
}

.skills-container {
    background-color: #F27272;
}

#skills {
    text-align: center;
    padding: 4rem 0 3rem;
    color: #fff;
    font-family: 'Bitter', serif;
    letter-spacing: 0.1rem;
    font-weight: 100;
    font-size: 2.625rem;
}

.skill-content {
    padding-top: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.125rem;
}

.content-section {
    padding: 1.5rem 0 0.5rem;
    text-align: center;
}

.content-header {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    font-family: 'Bitter', serif;
}

.education-container {
    background-color: #CCC7E9;
    padding: 5rem 0 7rem;
}

#education {
    text-align: center;
    padding-bottom: 4rem;
    color: #1e56a0;
    font-family: 'Bitter', serif;
    font-size: 2.625rem;
    font-weight: 400;
    letter-spacing: 0.075rem;
}

.center-modified {
    text-align: center;
    padding: 2rem 0;
    border-radius: 5%;
    text-decoration: none;
    transition: 0.75s;
}

.center-modified:hover {
    background-color: #e3fdfd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.school {
    height: 6.5rem;
    width: 6.5rem;
}

.school-description {
    padding: 1rem 0;
}

.school-description h1 {
    line-height: 5rem;
    color: #163172;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
}

.school-description h2 {
    color: #0077b6;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 0.15rem;
    font-size: 1.15rem;
}

.quote__main-container {
    padding: 12rem 0;
    background-color: #112d4e;
    color: #f9f7f7;
    font-size: 3rem;
    font-family: 'Karla', sans-serif;
    letter-spacing: 0.05rem;
}

.quote-placeholder {
    width: 75%;
    margin: auto;
}

.center {
    text-align: center;
    padding: 2rem 0;
}

.footer-desc {
    background-color: #c5e3f6;
    color: #142850;
    text-align: center;
    padding: 1rem 0;
}

.footer-desc p {
    padding: 0.325rem 0;
    font-family: 'Karla', sans-serif;
    letter-spacing: 0.09rem;
    font-size: 0.925rem;
}

#special-next {
    font-size: 0.8rem;
}

#special-back {
    padding: 5rem 0;
    font-size: 1.5rem;
    color: #625772;
    font-weight: 600;
    letter-spacing: 0.02rem;
    text-align: center;
}

#back-icon {
    height: 1.5rem;
    width: 1.5rem;
    transform: rotate(180deg);
}

#next-icon {
    height: 1rem;
    width: 1rem;
}

#copyright-h1 {
    text-align: center;
    padding-top: 5rem;
    color: #625772;
    font-family: 'Karla', sans-serif;
    letter-spacing: 0.05rem;
    font-weight: 600;
    font-size: 2.2rem;
}

.special-copyright {
    height: 100vh;
    background-color: #CCC7E9;
    overflow-x: hidden;
}

.copyright-space {
    padding: 2rem 0 0;
}

#scroll-up__button {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .5s, 
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#scroll-up__button::after {
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#scroll-up__button:hover {
    cursor: pointer;
    background-color: #ff9f1c;
}

#scroll-up__button:active {
    background-color: #e2afff;
}

#scroll-up__button.show {
    opacity: 1;
    visibility: visible;
}

@media (min-width: 500px) {
    #button {
      margin: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .main-container {
        padding-top: 12.5vh;
    }

    .socmed-icon {
        height: 2.25rem;
        width: 2.25rem;
        margin: 2rem 0.85rem 0;
    }

    .main-bio h1 {
        font-size: 2.5rem;
        padding-top: 2rem;
    }

    .brief-desc p {
        line-height: 3rem;
        text-align: justify;
    }

    .quote__main-container {
        padding: 5rem 0;
        font-size: 2rem;
    }

    #copyright-h1 {
        padding-top: 4rem;
        font-size: 1.75rem;
    }

    .copyright-space {
        padding: 1rem 0 0;
    }
}

@media only screen and (min-width: 601px) and (max-width: 990px) and (orientation: landscape) {
    .main-container {
        height: 125vh;
        padding-top: 3.5%;
    }

    .brief-desc p {
        line-height: 3.25rem;
    }

    .quote__main-container {
        padding: 5rem 0;
        font-size: 2rem;
    }

    #copyright-h1 {
        padding-top: 5rem;
        font-size: 1.65rem;
    }

    .special-copyright {
        height: 120vh;
    }

    .copyright-space {
        padding: 1rem 0 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
    .main-container {
        padding-top: 30%;
    }
}
