{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&family=Bitter&family=Courgette&family=Karla&family=Poppins&family=Sacramento&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'story1/css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'story1/images/f-thing.svg' %}" type="image/x-icon">
    {% block title %}

    {% endblock title %}
</head>