{% load static %}

{% include '../header.html' %}

{% block css %}
<link rel="stylesheet" href="{% static 'story1/css/intro.css' %}">
{% endblock css %}

{% block title %}
<title>Introduction</title>
{% endblock title %}

<body>
    <div class="holder">
        <h1>Muhammad Faisal Adi Soesatyo - 1906293184</h1>
        <div class="toggle-container">
            <input type="checkbox" id="switch" name="theme" /><label for="switch">Toggle</label>
        </div>
        <p>
            I am a sophomore computer science student of undergraduate program in University of Indonesia.
            I am interested in automation, data and software engineering especially in devOps technology.
            I like cycling, diving and hiking. But hiking is the kind of activity I love most. Why? Because
            I am in love with mountains, I like the air, the scenery, the serenity, etc.
        </p>
    </div>

    {% include '../script.html' %}

    {% block js %}
    <script src="{% static 'story1/js/intro.js' %}" type="text/javascript"></script>
    {% endblock js %}
</body>

</html>