{% load static %}

{% include '../header.html' %}

{% block bootstrap %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock bootstrap %}

{% block css %}
<link rel="stylesheet" href="{% static 'story1/css/styles.css' %}">
{% endblock css %}

{% block title %}
<title>Copyright</title>
{% endblock title %}

<body>
    <div class="special-copyright">
        <h1 id='copyright-h1'>all icons in this website downloaded from :</h1>
        <div class="container copyright-space">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-4 content-section"><a href="{{ copyright.0.link }}"
                        title="{{ copyright.0.title }}" target="_blank" rel="noopener noreferrer"><img
                            class="socmed-icon special-case" src="{% static 'story1/images/f-thing.svg' %}"
                            alt="f-logo"></a></div>

                <div class="col-md-2 col-sm-3 col-4 content-section"><a href="{{ copyright.0.link }}"
                        title="{{ copyright.0.title }}" target="_blank" rel="noopener noreferrer"><img
                            class="socmed-icon special-case" src="{% static 'story1//images/instagram.svg' %}"
                            alt="instagram-logo"></a></div>

                <div class="col-md-2 col-sm-3 col-4 content-section"><a href="{{ copyright.0.link }}"
                        title="{{ copyright.0.title }}" target="_blank" rel="noopener noreferrer"><img
                            class="socmed-icon special-case" src="{% static 'story1//images/twitter.svg' %}"
                            alt="twitter-logo"></a></div>

                <div class="col-md-2 col-sm-3 col-4 content-section"><a href="{{ copyright.0.link }}"
                        title="{{ copyright.0.title }}" target="_blank" rel="noopener noreferrer"><img
                            class="socmed-icon special-case" src="{% static 'story1/images/linkedin.svg' %}"
                            alt="linkedin-logo"></a></div>

                <div class="col-md-2 col-sm-3 col-4 content-section"><a href="{{ copyright.1.link }}"
                        title="{{ copyright.1.title }}" target="_blank" rel="noopener noreferrer"><img
                            class="socmed-icon special-case" src="{% static 'story1/images/github.svg' %}"
                            alt="github-logo"></a></div>

                <div class="col-md-2 col-sm-3 col-4 content-section"><a href="{{ copyright.1.link }}"
                        title="{{ copyright.1.title }}" target="_blank" rel="noopener noreferrer"><img
                            class="socmed-icon special-case" src="{% static 'story1/images/gmail.svg' %}"
                            alt="gmail-logo"></a></div>

                <div class="col-md-2 col-sm-3 col-4 content-section"><a href="{{ copyright.2.link }}"
                        title="{{ copyright.2.title }}" target="_blank" rel="noopener noreferrer"><img
                            class="socmed-icon special-case" src="{% static 'story1/images/e-school.svg' %}"
                            alt="elementary-logo"></a></div>

                <div class="col-md-2 col-sm-3 col-4 content-section"><a href="{{ copyright.3.link }}"
                        title="{{ copyright.3.title }}" target="_blank" rel="noopener noreferrer"><img
                            class="socmed-icon special-case" src="{% static 'story1/images/j-school.svg' %}"
                            alt="junior high-logo"></a></div>

                <div class="col-md-2 col-sm-3 col-4 content-section"><a href="{{ copyright.4.link }}"
                        title="{{ copyright.4.title }}" target="_blank" rel="noopener noreferrer"><img
                            class="socmed-icon special-case" src="{% static 'story1/images/s-school.svg' %}"
                            alt="senior high-logo"></a></div>

                <div class="col-md-2 col-sm-3 col-4 content-section"><a href="{{ copyright.5.link }}"
                        title="{{ copyright.5.title }}" target="_blank" rel="noopener noreferrer"><img
                            class="socmed-icon special-case" src="{% static 'story1/images/uni.svg' %}"
                            alt="university-logo"></a></div>

                <div class="col-md-2 col-sm-3 col-4 content-section"><a href="{{ copyright.1.link }}"
                        title="{{ copyright.1.title }}" target="_blank" rel="noopener noreferrer"><img
                            class="socmed-icon special-case" src="{% static 'story1/images/up-arrow.svg' %}"
                            alt="up arrow-logo"></a></div>

                <div class="col-md-2 col-sm-3 col-4 content-section"><a href="{{ copyright.6.link }}"
                        title="{{ copyright.6.title }}" target="_blank" rel="noopener noreferrer"><img
                            class="socmed-icon special-case" src="{% static 'story1/images/next.svg' %}"
                            alt="next-icon"></a>
                </div>

                <div class="col-md-2 col-sm-3 col-4 content-section"><a href="{{ copyright.7.link }}"
                        title="{{ copyright.7.title }}" target="_blank" rel="noopener noreferrer"><img
                            class="socmed-icon special-case" src="{% static 'story1/images/diary-clear.svg' %}"
                            alt="story-icon"></a>
                </div>

                <div class="col-md-2 col-sm-3 col-4 content-section"><a href="{{ copyright.7.link }}"
                        title="{{ copyright.7.title }}" target="_blank" rel="noopener noreferrer"><img
                            class="socmed-icon special-case" src="{% static 'story1/images/diary-brown.svg' %}"
                            alt="story-icon"></a>
                </div>

                <div class="col-md-2 col-sm-3 col-4 content-section"><a href="{{ copyright.0.link }}"
                        title="{{ copyright.0.title }}" target="_blank" rel="noopener noreferrer"><img
                            class="socmed-icon special-case" src="{% static 'story1/images/wireframe-colored.svg' %}"
                            alt="wireframe-icon"></a>
                </div>

                <div class="col-md-2 col-sm-3 col-4 content-section"><a href="{{ copyright.8.link }}"
                        title="{{ copyright.8.title }}" target="_blank" rel="noopener noreferrer"><img
                            class="socmed-icon special-case" src="{% static 'story1/images/design-modern.svg' %}"
                            alt="prototype-icon"></a>
                </div>
            </div>
            <p id="special-back"><a href="{% url 'index' %}"><img id="back-icon"
                        src="{% static 'story1/images/next.svg' %}" alt="next-icon"></a>
                back</p>
        </div>
    </div>

    {% include '../script.html' %}
</body>

</html>