{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Bitter&family=Courgette&family=Karla&family=Poppins&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "story1/css/styles.css" %}">
    <link rel="shortcut icon" href="{% static "story1/images/f-thing.svg" %}" type="image/x-icon">
    <title>Biodata</title>
</head>
<body>
    <div class="main-container">
        <div class="img-container">
            <img id="faisal-img" src="{% static "story1/images/faisal-cropped.png" %}" alt="faisal-img">
        </div>
        <div class="main-bio">
            <h1>I'm Faisal</h1>
            <h2>Muhammad Faisal Adi Soesatyo</h2>
        </div>
        <div class="socmed">
            <a href="https://www.instagram.com/faisaladisoe/?hl=id" target="_blank" rel="noopener noreferrer"><img src="{% static "story1/images/instagram.svg" %}" alt="instagram" /></a>
            <a href="https://twitter.com/__patagonia_" target="_blank" rel="noopener noreferrer"><img src="{% static "story1/images/twitter.svg" %}" alt="twitter" /></a>
            <a href="https://github.com/faisaladisoe" target="_blank" rel="noopener noreferrer"><img src="{% static "story1/images/github.svg" %}" alt="github" /></a>
            <a href="mailto:faisaladi27@gmail.com" target="_blank" rel="noopener noreferrer"><img src="{% static "story1/images/gmail.svg" %}" alt="gmail" /></a>
            <a href="https://www.linkedin.com/in/m-faisal-adi-soesatyo-2b27611b6/" target="_blank" rel="noopener noreferrer"><img src="{% static "story1/images/linkedin.svg" %}" alt="linkedin" /></a>
        </div>
    </div>
    <div class="description-container">
        <h1 id="aboutMe">About Me</h1>
        <div class="brief-desc">
            <p>
                <span id="hi">Hi!</span> I'm a computer science student at University of Indonesia. I became student in University of Indonesia since 2019,
                so I'm currently in a sophomore year. My student ID is 1906293184. In my spare time, I usually like to watch Netflix or take a sleep.
                I also like coding, diving and hiking :)
            </p>
        </div>
        <div id="separator"></div>
        <h1 id="education">Education</h1>
        <div class="edu">
            <div class="elementary center">
                <img class="school" src="{% static "story1/images/e-school.svg" %}" alt="elementary school" />
                <div class="school-description">
                    <h1>2007 - 2013</h1>
                    <h2>Al-Madinah Islamic Elementary School</h2>
                </div>
            </div>
            <div class="junior center">
                <img class="school" src="{% static "story1/images/j-school.svg" %}" alt="junior high" />
                <div class="school-description">
                    <h1>2013 - 2016</h1>
                    <h2>At-Taufiq Islamic Junior High School</h2>
                </div>
            </div>
            <div class="senior center">
                <img class="school" src="{% static "story1/images/s-school.svg" %}" alt="senior high" />
                <div class="school-description">
                    <h1>2016 - 2019</h1>
                    <h2>Bogor No.3 Senior High School</h2>
                </div>
            </div>
            <div class="uni center">
                <img class="school" src="{% static "story1/images/uni.svg" %}" alt="university" />
                <div class="school-description">
                    <h1>2019 - Now</h1>
                    <h2>University of Indonesia</h2>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-desc center">
            <p>Handcrafted with &#10084;&#65039;</p>  
            <p>Copyright © 2020 Muhammad Faisal Adi Soesatyo. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>