* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f2da;
    font-family: 'Quicksand', sans-serif;
}

.card {
    width: 30rem;
    margin: 5rem auto;
    border-radius: 1rem;
    border-color: coral;
}

.form-title {
    font-weight: 500;
    font-size: 1.9rem;
    font-family: 'Poppins', sans-serif;
    color: burlywood;
    text-align: center;
    padding-bottom: 2rem;
}

.registration-form {
    padding: 2.75% 2% 5%;
}

.error-container {
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 1.2rem;
    color: #a5ffd6;
    background-color: #e01e37;
}

.success-container {
    margin: 0 auto 1.5rem;
    padding: 1rem;
    border-radius: 1.1rem;
    color: #a5ffd6;
    font-size: 1.5rem;
    text-align: center;
    background-color: #1b72e1;
}

.success-container p {
    margin: auto;
}

#username-field, #email-field, #password-field, #password_validation-field {
    margin-top: 0.5rem;
}

#button-container {
    text-align: center;
}

#login-text {
    margin-top: 1rem;
}

#login-link {
    text-decoration: none;
}

#login-link:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 515px) {
    .card {
        width: 25rem;
    }
}

@media only screen and (max-width: 450px) {
    .card {
        width: 20rem;
    }
}
