* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.card-container {
    text-align: center;
    margin-top: 2.5rem;
}

#heading-text {
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
    color: burlywood;
}

.st {
    margin-top: 3rem;
}

.form-title {
    font-weight: 600;
    font-size: 36px;
    color: burlywood;
    text-align: center;
    padding-bottom: 2%;
}

.registration-form {
    padding: 2.75% 2% 5%;
}

#event-logo {
    height: 50px;
    width: 50px;
}

.event-container {
    margin: auto;
    width: 80%;
    height: 75%;
}

#event-title {
    font-size: 2.3rem;
    color: navy;
    font-family: 'Poppins', sans-serif;
}

#event-bDescription {
    font-size: 1.2rem;
}

#event-cDescription {
    text-align: justify;
}

.visitor-container {
    padding-top: 3rem;
}

#visitor-tagline {
    font-size: 2.3rem;
    color: navy;
    font-family: 'Poppins', sans-serif;
}

.card {
    margin: auto auto 2rem;
    border-color: navy;
}

.card-body {
    border-radius: 100px;
}

.card-visitor {
    padding-top: 2rem;
}

.mod {
    padding-top: 1rem;
}