{% load static %}

{% include '../header.html' %}

{% block bootstrap %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock bootstrap %}

{% block css %}
<link rel="stylesheet" href="{% static 'story1/css/courseDelete.css' %}">
{% endblock css %}

{% block title %}
<title>Courses Delete</title>
{% endblock title %}

<body>
    <div class="container" style="text-align: center; padding-top: 5%;">
        <p>Are you sure want to delete {{item}}?</p>
        <form action="" method="POST">
            {% csrf_token %}
            <button class="btn btn-light">
                <a href="{% url 'courseList' %}" style="text-decoration: none;">
                    No, cancel
                </a>
            </button>
            <button type="submit" class="btn btn-primary">Yes, delete</button>
        </form>
    </div>
</body>

{% include '../script.html' %}

</html>