{% load static %}

{% include '../header.html' %}

{% block bootstrap %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock bootstrap %}

{% block css %}
<link rel="stylesheet" href="{% static 'story1/css/courseRegister.css' %}">
{% endblock css %}

{% block title %}
<title>Course Register</title>
{% endblock title %}

<body>
    <form action="" method="POST" autocomplete="off">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    <div style="text-align: center; margin: 2rem; 0">
        <button class="btn btn-danger">
            <a href="{% url 'courseList' %}" style="text-decoration: none; color: white;">
                Course List
            </a>
        </button>
        <button class="btn btn-dark">
            <a href="{% url 'index' %}" style="text-decoration: none; color: white;">
                Back to Home
            </a>
        </button>
    </div>
</body>

{% include '../script.html' %}
</html>