{% load static %}

{% include '../header.html' %}

{% block bootstrap %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock bootstrap %}

{% block css %}
<link rel="stylesheet" href="{% static 'story1/css/courseDetails.css' %}">
{% endblock css %}

{% block title %}
<title>Course Details</title>
{% endblock title %}

<body>
    <div class="container" style="text-align: center; padding-top: 2%;">
        <table class="table table-hover table-dark">
            <tbody>
                {% for component in data %}
                <tr>
                    <td><h2>{{ component.course_name }}</h2></td>
                </tr>
                <tr>
                    <td><p>Dosen pada matkul ini Pak/Bu {{ component.lecturer }}</p></td>
                </tr>
                <tr>
                    <td><p>Matkul ini berbobot {{ component.credits }} SKS</p></td>
                </tr>
                <tr>
                    <td><p>Bagiku matkul ini {{ component.description }}</p></td>
                </tr>
                <tr>
                    <td><p>Matkul ini berada di semester {{ component.term }}</p></td>
                </tr>
                <tr>
                    <td><p>Juga di tahun ajaran {{ component.academic_year }}</p></td>
                </tr>
                <tr>
                    <td><p>Proses KBM matkul ini berada di ruangan {{ component.room }}</p></td>
                </tr>
                <tr>
                    <td><p>Didaftarkan pada {{ component.date_created }}</p></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-info">
            <a href="{% url 'courseList' %}" style="text-decoration: none; color: white;">
                Course List
            </a>
        </button>
    </div>

</body>

{% include '../script.html' %}

</html>