{% load static %}

{% include '../header.html' %}

{% block bootstrap %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock bootstrap %}

{% block css %}
<link rel="stylesheet" href="{% static 'story1/css/courseDelete.css' %}">
{% endblock css %}

{% block title %}
<title>Courses Delete</title>
{% endblock title %}

<body>
    <p>Are you sure want to delete {{item}}?</p>
    <form action="" method="POST">
        {% csrf_token %}
        <a href="{% url 'courseList' %}">No, cancel</a>
        <button type="submit">Yes, delete</button>
    </form>
</body>

{% include '../script.html' %}

</html>